/*.pattern {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #f0f0f0;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    cursor: pointer;*/
/*    position: fixed;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*}*/

/*.pattern:hover {*/
/*    background-color: #c0c0c0;*/
/*}*/


#patternContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    transform: scale(0.8); /* 缩小比例 */
}
canvas {
    border: 1px solid #000;
}
