.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px; /* 调整与上面盒子之间的距离 */
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}